.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 60px;
}

.item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--primary-shadow);
  background-color: var(--secondary-bg-color);
}

.image {
  display: block;
  width: 100%;
}

.imageContainer {
  border-bottom: 2px solid var(--color-background-very-light-gray);
}

.infoContainer {
  padding: 30px 20px;
}

.countryName {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.anchor {
  text-decoration: none;
  color: var(--primary-color);
}
