.container {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  min-height: 100vh;
}

/* LIGHT MODE */
.containerLight {
  --primary-color: var(--color-text-very-dark-blue);
  --primary-bg-color: var(--color-background-very-light-gray);
  --primary-shadow: var(--box-shadow-light);
  --primary-gradient: var(--gradient-light);
  --secondary-bg-color: var(--color-white);
  --country-border-shadow: var(--country-border-shadow-light);
}

/* DARK MODE */
.containerDark {
  --primary-color: var(--color-white);
  --primary-bg-color: var(--color-background-very-dark-blue);
  --primary-shadow: var(--box-shadow-dark);
  --primary-gradient: var(--gradient-dark);
  --secondary-bg-color: var(--color-dark-mode-elements-dark-blue);
  --country-border-shadow: var(--country-border-shadow-dark);
}

.main {
  padding-top: 24px;
  padding-bottom: 24px;
}
